In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('watches.csv')     # Load Data
df.info()       # Preprocessing of Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   306 non-null    object
 1   price   304 non-null    object
 2   rating  306 non-null    object
 3   oprice  304 non-null    object
 4   brand   303 non-null    object
dtypes: object(5)
memory usage: 12.1+ KB

In [3]:
df

,title,price,rating,oprice,brand
0,USM ID116 Smart Watch Smart Bracelet Fitness T...,329,4.3,₹329,USM
1,boAt Flash Edition Smart Watch with Activity T...,"1,199",4.0,"₹1,199",boAt
2,Noise ColorFit Pulse Grand Smart Watch with 1....,"1,299",4.0,"₹1,299",Noise
3,Krishna Analog Analog Watch - for Boys & Girls,119,5.0,₹119,Generic
4,boAt Xtend Smartwatch Batman Edition with Alex...,"1,299",4.2,"₹1,299",boAt
...,...,...,...,...,...
301,Analog Black Dial Men's Watch-TI000R41500,"1,209",4.0,"₹1,209",TIMEX
302,Youth-Digital Grey Dial Men's Watch-W-96H-2AVD...,"1,795",4.2,"₹1,795",Casio
303,"PTron Force X12N 1.85"" Full Touch Display Blue...","1,599",3.9,"₹1,599",pTron
304,Stylish and Fashionable Waterproof LED Square ...,289,4.2,₹289,ZOVUTA
305,Trendies Analog Black Dial Men's Watch-NL38040...,"1,550",4.1,"₹1,550",Fastrack

In [4]:
def clean_price_column(price):
    if isinstance(price, str):
        price = price.replace(',', '')
        return float(price)
    return price

In [12]:
def clean_oprice_column(oprice):
    if isinstance(oprice,str):
        if('₹' in oprice):
            oprice=oprice.replace(',','').replace('₹','')
        else:
            oprice=np.nan
        return float(oprice)
    return float(oprice)

In [14]:
clean_oprice_column('Not in stock')

nan

In [16]:
df['oprice'].apply(clean_oprice_column)

0       329.0
1      1199.0
2      1299.0
3       119.0
4      1299.0
        ...
301    1209.0
302    1795.0
303    1599.0
304     289.0
305    1550.0
Name: oprice, Length: 306, dtype: float64

In [18]:
df['clean_oprice']=df['oprice'].apply(clean_oprice_column)

In [19]:
df

,title,price,rating,oprice,brand,clean_oprice
0,USM ID116 Smart Watch Smart Bracelet Fitness T...,329,4.3,₹329,USM,329.0
1,boAt Flash Edition Smart Watch with Activity T...,"1,199",4.0,"₹1,199",boAt,1199.0
2,Noise ColorFit Pulse Grand Smart Watch with 1....,"1,299",4.0,"₹1,299",Noise,1299.0
3,Krishna Analog Analog Watch - for Boys & Girls,119,5.0,₹119,Generic,119.0
4,boAt Xtend Smartwatch Batman Edition with Alex...,"1,299",4.2,"₹1,299",boAt,1299.0
...,...,...,...,...,...,...
301,Analog Black Dial Men's Watch-TI000R41500,"1,209",4.0,"₹1,209",TIMEX,1209.0
302,Youth-Digital Grey Dial Men's Watch-W-96H-2AVD...,"1,795",4.2,"₹1,795",Casio,1795.0
303,"PTron Force X12N 1.85"" Full Touch Display Blue...","1,599",3.9,"₹1,599",pTron,1599.0
304,Stylish and Fashionable Waterproof LED Square ...,289,4.2,₹289,ZOVUTA,289.0
305,Trendies Analog Black Dial Men's Watch-NL38040...,"1,550",4.1,"₹1,550",Fastrack,1550.0

In [23]:
def clean_rating_column(rating):
    if isinstance(rating,str):
        if('.' in rating) and (len(rating)==3):
            return float(rating)
        else:
            return np.nan
    return float(rating)

In [24]:
clean_rating_column('hello')

nan

In [25]:
df['clean_rating']=df['rating'].apply(clean_rating_column)

In [26]:
df

,title,price,rating,oprice,brand,clean_oprice,clean_rating
0,USM ID116 Smart Watch Smart Bracelet Fitness T...,329,4.3,₹329,USM,329.0,4.3
1,boAt Flash Edition Smart Watch with Activity T...,"1,199",4.0,"₹1,199",boAt,1199.0,4.0
2,Noise ColorFit Pulse Grand Smart Watch with 1....,"1,299",4.0,"₹1,299",Noise,1299.0,4.0
3,Krishna Analog Analog Watch - for Boys & Girls,119,5.0,₹119,Generic,119.0,5.0
4,boAt Xtend Smartwatch Batman Edition with Alex...,"1,299",4.2,"₹1,299",boAt,1299.0,4.2
...,...,...,...,...,...,...,...
301,Analog Black Dial Men's Watch-TI000R41500,"1,209",4.0,"₹1,209",TIMEX,1209.0,4.0
302,Youth-Digital Grey Dial Men's Watch-W-96H-2AVD...,"1,795",4.2,"₹1,795",Casio,1795.0,4.2
303,"PTron Force X12N 1.85"" Full Touch Display Blue...","1,599",3.9,"₹1,599",pTron,1599.0,3.9
304,Stylish and Fashionable Waterproof LED Square ...,289,4.2,₹289,ZOVUTA,289.0,4.2
305,Trendies Analog Black Dial Men's Watch-NL38040...,"1,550",4.1,"₹1,550",Fastrack,1550.0,4.1